*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url(../docs/univaq-login.png);
    
    background-position: center;
    background-attachment: fixed;
    background-size: cover;   
}

.login_cont{
    width: 80%;
  
    margin: auto;
    position: relative;
    left: 21%;
    top: 200px;
}

.login_box{
    
    position: relative;
    left: 45%;
    top: 250px;
    background-color: rgba(240,240,240,255);
}
