body{
    background-image: url(../docs/univaq-login.png);    
    background-position: center;
    background-attachment: fixed;
    background-size: cover;   
}

.container-form {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-left: 60%;
  margin-top: 18%;
  width: 300px;
}

.container--flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form__label {
  margin-right: 10px;
}

.form__input {
  padding: 5px;
}

.btn {
  margin-right: 10px;
}



