.calendar-style {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  margin-left: 2%;
  display: flex;
  justify-content: center;   
}

.container-btn {
  margin-top: -90px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#select_aulas {
  width: 300px;
  height: 40px;
}

#cal-pos {
    width: 82%;
}

#table-pos {
  text-align: center;
  padding-left: 35px;
}

.table-info {
    margin-left: auto;
    margin-right: auto;
}

.form-events-csv {
    text-align: center;
}
#leyenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.leyenda-header {
    margin-bottom: 10px;
    font-size: 40px;
}

.leyenda-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#leyenda-lista li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: 2px solid #efc444; 
  border-radius: 10px; 
  background-color: white; 
}

#leyenda-lista li div {
  background-color: #FF0909; 
  width: 20px; 
  height: 20px; 
}

.container-leg {
    text-align: center;
    margin: 10px
}